{% load static %}
<footer class="bottom-0 left-0 w-full">
  <div class="grid grid-cols-1 gap-5 md:flex justify-between border-2 border-black bg-white mt-7 p-4 text-center md:text-start ">
    <div>
      <h5 class="mb-3"><strong>Enlaces importantes:</strong></h5>
      <ul class="list-unstyled">
        <li><a href="#" class="text-blue-500 underline">Política de privacidad</a></li>
        <li><a href="#" class="text-blue-500 underline">Términos de servicio</a></li>
        <li><a href="#" class="text-blue-500 underline">Aviso legal</a></li>
        <li><a href="#" class="text-blue-500 underline">Contáctenos</a></li>
      </ul>
    </div>
    <div class="md:flex items-center">
      <h2 class="text-blue-500"><strong>Todos los derechos reservados</strong></h2>
    </div>
    <div class="grid grid-cols-4 gap-9 items-center">
      <a href="#" class="bg-gradient-to-r from-[#833ab4] via-[#fd1d1d] to-[#fcb045] inline-block text-transparent bg-clip-text"><i class="fab fa-instagram fa-2x"></i></a>
      <a href="#" class="text-cyan-300"><i class="fab fa-twitter fa-2x"></i></a>
      <a href="#" class="text-blue-600"><i class="fab fa-facebook fa-2x"></i></a>
      <a href="#" class="text-green-600"><i class="fab fa-whatsapp fa-2x"></i></a>
    </div>
  </div>
</footer>
